[MASTER]
# Add files or directories to the blacklist. They should be base names.
ignore=venv

[MESSAGES CONTROL]
# Disable specific pylint messages.
disable=
    missing-docstring,
    too-few-public-methods,
    invalid-name

[FORMAT]
# Set the maximum line length.
max-line-length=120
